<form method="GET" action="{% url 'students:home' %}" class="w-75">
    <div class="input-group my-1 justify-content-center align-items-center">
        <span class="d-flex align-items-center mx-2 my-0 h5 text-secondary">Search by: </span>
        <select name="column" class="form-select">
            <option value="all" selected>All</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="email">Email</option>
            <option value="course">Course</option>
            <option value="teacher">Teacher</option>
        </select>
        <input type="text" name="query" class="form-control w-25" placeholder="Search">
           <button type="submit" class="btn btn-primary ">
                <i class="fas fa-search"></i>
           </button>
    </div>
</form>
