{% load static %}
<div class="modal" id="viewModal{{ teacher.pk }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class='bx bxs-info-circle align-middle h1' style='color:#5ca2ff'  ></i> Teacher:
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/user-info.png' %}" class="img-fluid mx-auto" >
                </div>
                <div class="col-md-8 d-flex justify-content-center align-items-center">
                  <ul class="list-unstyled m-0">
                    <li>First Name: <strong>{{ teacher.first_name }}</strong></li>
                    <li>Last Name: <strong>{{ teacher.last_name }}</strong></li>
                    <li>Age: <strong>{{ teacher.age }}€</strong></li>
                    <li>Email: <strong>{{ teacher.email }}</strong></li>
                    <li>Course: <strong>{{ teacher.course }}</strong></li>
                    <li>Students nr: <strong>{{ teacher.num_students }}</strong></li>
                  </ul>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <form action="{% url 'teachers:delete_teacher' teacher.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
          <a href="{% url 'teachers:edit_teacher' teacher.pk %}" class="btn btn-warning">Edit</a>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>