{% extends 'base.html' %}
{% load static %}

{% block title %}
<div>
  <i class='bx bxs-id-card h2 align-middle' ></i> Add new course
</div>
{% endblock title %}

{% block content %}
  <div class="shadow border p-4 mb-5 bg-white my-4 rounded">
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-5">
          <img src="{% static 'images/course.png' %}" class="mx-auto d-block img-fluid w-75">
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary m-3 w-75">Add</button>
          </div>
        </div>
        
        <div class="col-md-7">
          <!-- {{ form.as_p }} -->
          <div class="row mt-2 mb-3">
            <div class="col-md-6">
              {{ form.name.label }}
              {{ form.name }}
            </div>
            <div class="col-md-6">
              {{ form.price.label }}
              {{ form.price }}
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-6">
              {{ form.image.label }}
              {{ form.image }}
            </div>
            <div class="col-md-6">
              {{ form.start_date.label }}
              {{ form.start_date }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ form.notes.label }}
              {{ form.notes }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

